body {
  background-color: #89cff0;
}
/* Hyperlink color */
a {
  color: darkorange;
}
/* navigation */
.main-nav{
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0
  auto;
  padding: 0;
  overflow: hidden;
  float: right;
}
.nav-text {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
/* Picture */
header {
  text-align: center;
}
.main-pic{
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
#home-text{
  text-align: center;
}
#contact {
  text-align: center;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
