body {
  background-color: #89cff0;
}
a {
  color: darkorange;
}
/* navigation */
.main-nav{
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0
  auto;
  padding: 0;
  overflow: hidden;
  float: right;
}
.nav-text {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
